:root {
    --melona-green: #7affa7;
}

html {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* Typography */
h1, h2, button {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 88%;
    letter-spacing: -2%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-weight: 600; /* semibold */
    font-size: 1.125em;
    text-transform: capitalize;
}

/* Button styles */
button {
    font-family: 'Fira Mono', monospace;
    line-height: 100%;
    border: 4px solid black;
    color: black;
    border-radius: 8px;
    padding: 12px 10px 10px 10px;
    cursor: pointer;

}

.btn--shop {
    background-color: var(--melona-green);
}

.btn--buy {
    background-color: #FF7A7A;
    padding-left: 2.25em;
    padding-right: 2.25em;
}

/* structure */
nav {
    display: grid;
    place-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 66.9em;
    margin: 14px auto;
    padding: 0 32px;
}


.hero--section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero--text {
    position: absolute;
    z-index: 1;
    text-align: center;
    max-width: 23rem;
}

.hero_drink--img {
    position: relative;
    max-width: 100%;
}

.about--section {
    text-align: center;
    max-width: 23rem;
    margin: 0 auto;
    margin-top: 4em;
}

.nutri--facts-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nutri--facts-item {
    padding: 0 1.25em;
    width: 4.2em;
}

.nutri--facts-label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500; /* medium */
    margin-top: 4px;
}

.jump--section {
    margin: 1em 0.2em;
    padding: 1.375em 2.3125em 1.6875em 2.3125em;
    border-radius: 20px;
    background-color: #cb97ff;
}

.jump--section h3, .jump--section p {
    margin: 0;
}

.jump--section p {
    margin-top: 0.425em;
}

#drinks--section {
    margin: 2em 1em;
    text-align: center;
    scroll-margin-top: 1em;
}

.drinks--collection {
    max-width: 65.875rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 2rem 0rem;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.drinks--card {
    border-radius: 8px;
    min-width: 13.25rem;
    height: 14.75rem;
    border: black solid 4px;
}

.drinks--img {
    margin-top: 0.2em;
    height: 80%;
}

.drinks--label {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

.lemon-zeal {
    background-color: #FFF27A;
}

.berry-blast {
    background-color: #9FA9FC;
}

.cherry {
    background-color: #FF7A7A;
}

.melona {
    background-color: #7AFFA7;
}

.footer--home {
    text-align: center;
    background: url('./assets/footer-bg.svg') no-repeat center center;
    background-size: cover;
    margin-top: 2em;
    padding: 3em 0em 2.62em 0;
}

.footer--medias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.875em;
    padding-bottom: 0.875em;

}

.media-icon img {
    width: 30px;
    height: 30px;
    margin: 0 0.5em;
}