html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: grid;
    place-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 32px 0px 32px;
}